/*---------------------------------------------------------------------------------------*/
/*Imágenes*/
.belen-dent{
  background-image: url('./components/assets/images/Inicio/Header/pexels.jpg');
  background-position: 30% 30%;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: content-box;
}
.belen-card{
  background-image: url('./components/assets/images/Inicio/Header/belen-card.jpg');
  background-position: 30% 30%;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: content-box;
}
.bioseguridad{
  background-image: url('./components/assets/images/Inicio/Header/bioseguridad.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: content-box;
}

.credito{
  background-image: url('./components/assets/images/Inicio/Header/credito.jpg');
  background-position: 30% 30%;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: content-box;
}
.reserva{
  background-image: url('./components/assets/images/Inicio/Header/reserva.jpg');
  background-position: 30% 30%;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: content-box;
}




/*---------------------------------------------------------------------------------------*/
.alt{
  background: #1a73cd ;
  
}
.alt-port{
  height: 30rem;
  background: #7cdced;
}

.bk-color{
  background-color: #233554;
}
.bka-color{
  background-color: #f5f5f5;
}
.color{
  color: #233554;
}

.yellow{
  background-color: #fae053;
}
.textColor{
  color: #fae053;
}

body{
  font-family: 'Poppins', sans-serif;
}



/*---------------------------------------------------------------------------------------*/
/*colores gradient*/
.back-color{
  background: #0090d5;
  background: -moz-linear-gradient(left, #0090d5 36%, #24c4d2 64%);
  background: -webkit-linear-gradient(left, #0090d5 36%,#24c4d2 64%);
  background: linear-gradient(to right, #0090d5 36%,#24c4d2 64%);

}
.bg-color{
  background: #7cdced;
  background: -moz-linear-gradient(left,#7cdced 0,#1a73cd 48%,#1a73cd 100%);
  background: -webkit-gradient(left top,right top,color-stop(0,#7cdced),color-stop(48%,#1a73cd),color-stop(100%,#1a73cd));
  background: -webkit-linear-gradient(left,#7cdced 0,#1a73cd 48%,#1a73cd 100%);
  background: -o-linear-gradient(left,#7cdced 0,#1a73cd 48%,#1a73cd 100%);
  background: -ms-linear-gradient(left,#7cdced 0,#1a73cd 48%,#1a73cd 100%);
  background: linear-gradient(to right,#7cdced 0,#1a73cd 48%,#1a73cd);
}

